/* style sheet for Icon web pages */

BODY, TH, TD {		/* TH & TD because NS tables don't inherit font */
	font-family:	Helvetica, sans-serif;
	}

PRE, TT {
	font-family:	LucidaTypewriter, Monaco, Courier, monospace;
	}

CODE {
	font-weight:	bold;
	}
VAR {
	font-style:	italic;
	}

BODY {
	color:		black; 
	background:	white url(blubordr.gif) repeat-y;
	margin-left:	60px;
	margin-right:	10px;
	}

H1 {
	margin-top:	1em;
	margin-bottom:	0.5em;
	}

H2 {
	margin-top:	1em;
	}

TD {
	padding-left:	0.4em;
	padding-right:	0.4em;
	}

UL LI {
	list-style:	disc outside;
	margin-top:	.5ex;
	}

A:link {
	background:	white;
	color:		#06C;
	}

A:visited {
	background:	white;
	color:		#036;
	}
