/* style sheet for Icon HTML pages */

BODY		{ color: black; background: white url(blubordr.gif) repeat-y; }
BODY		{ margin-left: 60px; margin-right: 10px; }

BODY, TH, TD	{ font-family: Helvetica, Arial, sans-serif; }
EM,VAR,CITE,DFN	{ font-style: italic; }
STRONG		{ font-weight: bold; }
CODE		{ font-family: Helvetica, Arial, sans-serif; font-weight: bold;}
PRE, TT		{ font-family: "Lucida Sans Typewriter", Monaco, monospace; }

H1,H2,H3,H4,H5,H6 { font-family:Helvetica,Arial,sans-serif; font-weight:bold; }
H1		{ font-size: 150%; margin-top: 2.0em; margin-bottom: 0.4em; }
H2		{ font-size: 125%; margin-top: 2.0em; margin-bottom: 0.4em; }
H3, H4, H5, H6	{ font-size: 100%; margin-top: 1.5em; margin-bottom: 0.2em; }

P		{ margin-top: 0.9em; margin-bottom: 0.0em; }
BLOCKQUOTE	{ margin-top: 0.4em; margin-bottom: 0.4em; }
UL, OL		{ margin-top: 0.4em; margin-bottom: 0.4em; }
LI		{ margin-top: 0.2em; }

TH, TD		{ padding-left: 0.4em; padding-right: 0.4em; }
TH, TD		{ vertical-align: top; text-align: left; }

A:link		{ background: white; color: #06C; }
A:visited	{ background: white; color: #036; }
