body { background-color:  #FFFFFF;
		color: #0066CC;
		font-family: Georgia, "Times New Roman", serif;
}
h1 { background-color: #CCFFFF;
		color: #0099FF;
		line-height: 200%;
		font-family: Georgia, "Times New Roman", serif;
}
h2 { background-color:  #CCFFFF;
		color: #0099FF;
		font-family: Georgia, "Times New Roman", serif;
		line-height: 100%
}
h3 { background-color: #CCFFFF;
		font-family:  Georgia, "Times New Roman", serif;
		line-height:  90%
}
h4 { background-color: #FFFFFF;
		color:  #FF9900;
		font-family: Georgia, "Times New Roman", serif;
		line-height:  100%
}
a 	{color: #333300;
}
p {font-size: 120%;
}
ul {font-weight: bold;
}
#wrapper { 	width:  850px;
			margin-left: auto;
			margin-right: auto;
}
.nav { 	font-weight: bold;
		font-size: 1.25em;
}
#footer {font-size: .75em;
		 font-style: italic;
}


